{{ partial "header.html" . }}
<body>
<div id="layout" class="pure-g">
<article class="pure-u-1">
{{ partial "brand.html" . }}
{{ range where .Pages "Section" "!=" "page" }}
  {{ partial "content.header.html" . }}
  <ul>
  {{ range first 3 .Pages }}
      <li>
        <span class="list-date">{{ .Date.Format "06' Jan 2" }} &middot;</span>
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
      </li>
  {{ end }}
</ul>
<a href="{{ .RelPermalink }}">All >></a>
  <p>{{ .Summary }}</p>
  {{ if .Truncated }}
  <p><a href="{{ .RelPermalink  }}">Read On &rarr;</a></p>
  {{ end  }}
{{ end  }}
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
